@use "base/variables" as v;
@use "base/mixins" as m;

.clases {
    background-color: v.$gris;
    padding: 5rem 0;

    &__heading {
        @include m.heading;
    }

    &__grid {
        @include m.grid(1, 2rem);

        @include m.tablet {
            @include m.grid(2, 2rem);
        }
        @include m.desktop {
            @include m.grid(3, 2rem);
        }
    }
}
.clase {
    border: 1px solid darken(v.$gris, 10%);
    background-color: v.$blanco;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__meta {
        background-color: v.$primario;
        color: v.$blanco;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }
    &__precio {
        background-color: v.$secundario;
        color: v.$negro;
        font-weight: 700;
        padding: 0.5rem;
        border-radius: 1rem;
    }
    &__contenido {
        padding: 2rem;
    }
    &__nombre {
        min-height: 5.5rem;
    }
    &__descripcion {
        color: v.$primario;
    }
    &__enlace {
        @include m.boton(v.$primario, v.$blanco);
        display: block;
        font-size: 1.6rem;
        padding: 1rem;
    }
    &__imagen {
        width: 70%;
        margin: 0 auto;
    }
}
